<!-- <?xml version="1.0"?> -->
<launch>

    <rosparam command="load" file="$(dirname)/../config/control_base.yaml" />
    <rosparam command="load" file="$(dirname)/../config/control_arm.yaml" />


    <arg name="base_controllers" default="youbot_base/joint_state_controller
                                          youbot_base/mecanum_drive_controller
                                          "/>

    <arg name="arm_controllers" default="youbot_arm/joints_vel_controller
                                         "/>

    <node name="controller_spawner_base" pkg="controller_manager" type="spawner"
          args="$(arg base_controllers)" output="screen" respawn="false" />

    <node name="controller_spawner_arm" pkg="controller_manager" type="spawner"
          args="$(arg arm_controllers)" output="screen" respawn="false" />


    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen">
        <param name="publish_frequency" value="200"/>
    </node>

    <param name="robot_description"
           command="$(find xacro)/xacro $(find youbot_description)/robots/youbot_tpu_real.urdf.xacro"/>

    <node name="youbot_control" pkg="youbot_control" type="youbot_control" output="screen"/>


</launch>
