<!-- <?xml version="1.0"?> -->
<launch>

    <rosparam command="load" file="$(dirname)/../config/control_base.yaml" />
    <rosparam command="load" file="$(dirname)/../config/control_arm.yaml" />

    <arg name="base_controllers" default="joint_state_controller mecanum_drive_controller"/>
    <arg name="arm_controllers" default="joint_state_controller joints_eff_controller"/>

    <node name="controller_spawner_base" pkg="controller_manager" type="spawner"
          args=" --namespace=/youbot_base
          $(arg base_controllers)" output="screen" respawn="false" />

    <node name="ros_control_controller_spawner1" pkg="controller_manager" type="spawner"
          args=" --namespace=/youbot_arm
          $(arg arm_controllers)" output="screen" respawn="false" />

    <node name="youbot_control" pkg="youbot_control" type="youbot_control" output="screen"/>


</launch>
